@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --dark-blue: 38, 46, 56;
  --light-grey: 150, 159, 173;
  --medium-grey: 124, 135, 152;
  --orange: 252, 118, 20;
  --pure-white: 255, 255, 255;
  --very-dark-blue: 19, 21, 24;
  --black-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}

html,
body {
  height: 100%;
  width: 100%;
  background: rgb(var(--very-dark-blue));
  display: grid;
  place-items: center;
  font-family: "Overpass", sans-serif;
  font-size: 14px;
}

.hidden {
  display: none;
}

#FeedbackCard.card {
  background: var(--black-gradient);
  width: 100%;
  height: 25.7142857143rem;
  max-width: 36.383ch;
  border-radius: 1.0714285714rem;
  overflow: hidden;
  padding: 2.6666666667ch;
  position: relative;
  box-sizing: border-box;
}

#FeedbackCard #star {
  position: absolute;
  top: 1.7142857143rem;
  height: 2.8571428571rem;
  width: 4.452ch;
  border-radius: 50%;
  background-color: rgb(var(--dark-blue));

  display: grid;
  place-items: center;
}

#FeedbackCard #star::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("images/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#FeedbackCard #question {
  position: absolute;
  top: 5.7142857143rem;
  font-weight: 700;
  font-size: 1.7142857143rem;
  line-height: 2.1428571429rem;
  margin: 0px;
  color: rgb(var(--pure-white));
}

#FeedbackCard #description {
  position: absolute;
  top: 9.0714285714rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5714285714rem;
  width: calc(100% - 2.6666666667ch * 2);

  color: rgb(var(--light-grey));
  margin: 0px;
}

#FeedbackCard #buttons {
  position: absolute;
  top: 15.5rem;
  height: fit-content;
  width: calc(100% - 2.6666666667ch * 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#FeedbackCard .button {
  background: rgb(var(--dark-blue));
  color: rgb(var(--medium-grey));
  height: 3rem;
  width: 5.666ch;
  border: none;
  padding: 0px;
  border-radius: 50%;
  font-weight: 700;
}

#FeedbackCard .button:hover {
    background: rgb(var(--orange));
    color: rgb(var(--pure-white));
    cursor: pointer;
}

#FeedbackCard .button.selected {
    background: rgb(var(--medium-grey));
    color: rgb(var(--pure-white));
    cursor: pointer;
}

#FeedbackCard #submit {
  position: absolute;
  bottom: 2.2857142857rem;
  width: calc(100% - 2.6666666667ch * 2);
  height: 3.2142857143rem;
  border: none;
  background: rgb(var(--orange));
  color: rgb(var(--pure-white));
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2857142857;
  letter-spacing: 1.86667px;
  border-radius: 1.6071428571rem;
}

#FeedbackCard #submit:hover {
    background: rgb(var(--pure-white));
    color: rgb(var(--orange));
    cursor: pointer;
}