@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --dark-blue: 38, 46, 56;
  --light-grey: 150, 159, 173;
  --medium-grey: 124, 135, 152;
  --orange: 252, 118, 20;
  --pure-white: 255, 255, 255;
  --very-dark-blue: 19, 21, 24;
  --black-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}

html,
body {
  height: 100%;
  width: 100%;
  background: rgb(var(--very-dark-blue));
  display: grid;
  place-items: center;
  font-family: "Overpass", sans-serif;
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.card {
  background: var(--black-gradient);
  width: 100%;
  height: 25.7142857143rem;
  max-width: 36.383ch;
  border-radius: 1.0714285714rem;
  overflow: hidden;
  padding: 2.6666666667ch;
  position: relative;
  box-sizing: border-box;
}

#FeedbackCard #star {
  position: absolute;
  top: 1.7142857143rem;
  height: 2.8571428571rem;
  width: 4.452ch;
  border-radius: 50%;
  background-color: rgb(var(--dark-blue));

  display: grid;
  place-items: center;
}

#FeedbackCard #star::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("images/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#FeedbackCard #question {
  position: absolute;
  top: 5.7142857143rem;
  font-weight: 700;
  font-size: 1.7142857143rem;
  line-height: 2.1428571429rem;
  margin: 0px;
  color: rgb(var(--pure-white));
}

#FeedbackCard #description {
  position: absolute;
  top: 9.0714285714rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5714285714rem;
  width: calc(100% - 2.6666666667ch * 2);

  color: rgb(var(--light-grey));
  margin: 0px;
}

#FeedbackCard #buttons {
  position: absolute;
  top: 15.5rem;
  height: fit-content;
  width: calc(100% - 2.6666666667ch * 2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#FeedbackCard .button {
  background: rgb(var(--dark-blue));
  color: rgb(var(--medium-grey));
  height: 3rem;
  width: 5.666ch;
  border: none;
  padding: 0px;
  border-radius: 50%;
  font-weight: 700;
}

#FeedbackCard .button:hover {
  background: rgb(var(--orange));
  color: rgb(var(--pure-white));
  cursor: pointer;
}

#FeedbackCard .button.selected {
  background: rgb(var(--medium-grey));
  color: rgb(var(--pure-white));
  cursor: pointer;
}

#FeedbackCard #submit {
  position: absolute;
  bottom: 2.2857142857rem;
  width: calc(100% - 2.6666666667ch * 2);
  height: 3.2142857143rem;
  border: none;
  background: rgb(var(--orange));
  color: rgb(var(--pure-white));
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2857142857;
  letter-spacing: 1.86667px;
  border-radius: 1.6071428571rem;
}

#FeedbackCard #submit:hover {
  background: rgb(var(--pure-white));
  color: rgb(var(--orange));
  cursor: pointer;
}

#ThankCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

#ThankCard img {
  position: absolute;
  top: 2rem;
  height: 6.8571428571rem;
  width: auto;
}

#ThankCard #rating {
  position: absolute;
  top: 10.57rem;
  margin: 0px;
  background: rgb(var(--dark-blue));
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5714285714rem;
  color: rgb(var(--orange));
  padding: 0.3571428571rem 1.3333333333ch;
  border-radius: 1.6071428571rem;
}

#ThankCard #ThankHeader {
  position: absolute;
  top: 14.5714285714rem;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: rgb(var(--pure-white));
  margin: 0px;
}

#ThankCard #ThankMessage {
  position: absolute;
  top: 16.93rem;
  width: calc(100% - 2.6666666667ch * 2);
  text-align: center;

  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5714285714rem;
  color: rgb(var(--light-grey));
}

@media only screen and (min-width: 500px) {
  .card {
    min-width: 45.84ch !important;
    height: 416px;
    padding-left: 0px;
    box-sizing: border-box;
    padding-left: 3.5555555556ch;
  }

  #FeedbackCard #star {
    top: 2.2857142857rem;
  }

  #FeedbackCard #question {
    top: 7.8571428571rem;
  }

  #FeedbackCard #description {
    top: 11.4285714286rem;
  }

  #FeedbackCard #buttons {
    top: 18.2857142857rem;
    width: 37.94ch;
  }

  #FeedbackCard .button {
    width: 6.88ch;
    height: 3.6428571429rem;
  }

  #FeedbackCard #submit {
    top: 24.285rem;
    width: 43.8ch;
  }

  #ThankCard img {
    height: 7.7142857143rem;
    width: auto;
    top: 3.2142857143rem;
  }

  #ThankCard #rating {
    top: 13.2142857143rem;
    font-size: 1.0714285714rem;
    padding: 0.2857142857rem 2.2222222222ch;
  }

  #ThankCard #ThankHeader {
    top: 17.7857142857rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  #ThankCard #ThankMessage {
    top: 20.285rem;
    font-size: 1.0714285714rem;
    line-height: 1.7142857143rem;
  }
}

footer {
    position: absolute;
    bottom: 1rem;
    color: rgb(var(--pure-white));
    text-align: center;
}