@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --dark-blue: 38, 46, 56;
  --light-grey: 150, 159, 173;
  --medium-grey: 124, 135, 152;
  --orange: 252, 118, 20;
  --pure-white: 255, 255, 255;
  --very-dark-blue: 19, 21, 24;
  --black-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
}

html,
body {
  height: 100%;
  width: 100%;
  background: rgb(var(--very-dark-blue));
  display: grid;
  place-items: center;
  font-family: "Overpass", sans-serif;
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.card {
  background: var(--black-gradient);
  width: 100%;
  height: 360px;
  max-height: 360px;
  max-width: 327px;
  border-radius: 15px;
  overflow: hidden;
  padding: 24px;
  position: relative;
  box-sizing: border-box;
}

#FeedbackCard #star {
  position: absolute;
  top: 24px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(var(--dark-blue));
  display: grid;
  place-items: center;
}

#FeedbackCard #star::after {
  content: "";
  width: 13.96px;
  height: 13.33px;
  background-image: url("images/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#FeedbackCard #question {
  position: absolute;
  top: 80px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0px;
  color: rgb(var(--pure-white));
}

#FeedbackCard #description {
  position: absolute;
  top: 127px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: calc(100% - 22px - 24px);

  color: rgb(var(--light-grey));
  margin: 0px;
}

#FeedbackCard #buttons {
  position: absolute;
  top: 217px;
  height: fit-content;
  width: calc(100% - 22px - 24px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#FeedbackCard .button {
  background: rgb(var(--dark-blue));
  color: rgb(var(--medium-grey));
  height: 42px;
  width: 42px;
  border: none;
  padding: 0px;
  border-radius: 50%;
  font-weight: 700;
}

#FeedbackCard .button:hover {
  background: rgb(var(--orange));
  color: rgb(var(--pure-white));
  cursor: pointer;
}

#FeedbackCard .button.selected {
  background: rgb(var(--medium-grey));
  color: rgb(var(--pure-white));
  cursor: pointer;
}

#FeedbackCard #submit {
  position: absolute;
  bottom: 32px;
  width: calc(100% - 48px);
  height: 45px;
  border: none;
  background: rgb(var(--orange));
  color: rgb(var(--pure-white));
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.86667px;
  border-radius: 22.5px;
}

#FeedbackCard #submit:hover {
  background: rgb(var(--pure-white));
  color: rgb(var(--orange));
  cursor: pointer;
}

#ThankCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

#ThankCard img {
  position: absolute;
  top: 28px;
  height: 96px;
  width: auto;
}

#ThankCard #rating {
  position: absolute;
  top: 148px;
  margin: 0px;
  background: rgb(var(--dark-blue));
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(var(--orange));
  padding: 5px 12px;
  border-radius: 22.5px;
}

#ThankCard #ThankHeader {
  position: absolute;
  top: 204px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: rgb(var(--pure-white));
  margin: 0px;
}

#ThankCard #ThankMessage {
  position: absolute;
  top: 251px;
  width: 340px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgb(var(--light-grey));
  margin: 0px;
}

@media only screen and (min-width: 500px) {
  .card {
    min-width: 412px !important;
    min-height: 416px;
    padding-left: 0px;
    box-sizing: border-box;
    padding-left: 32px;
  }

  #FeedbackCard #star {
    top: 32px;
    height: 48px;
    width: 48px;
  }

  #FeedbackCard #star::after {
    height: 16px;
    width: 16.75px;
  }

  #FeedbackCard #question {
    top: 110px;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
  }

  #FeedbackCard #description {
    top: 160px;
    margin: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  #FeedbackCard #buttons {
    top: 256px;
    width: 341px;
  }

  #FeedbackCard .button {
    width: 51px;
    height: 51px;
  }

  #FeedbackCard #submit {
    top: 339px;
    width: 341px;
  }

  #ThankCard img {
    height: 108px;
    width: auto;
    top: 45px;
  }

  #ThankCard #rating {
    top: 185px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 4px 20px;
  }

  #ThankCard #ThankHeader {
    top: 249px;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
  }

  #ThankCard #ThankMessage {
    top: 299px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 340px;
  }
}

footer {
  position: absolute;
  bottom: 1rem;
  color: rgb(var(--pure-white));
  text-align: center;
}

footer a {
  color: rgb(var(--orange));
}
